<div class="title">私のお気に入り</div>
<div class="wishlist-row"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const wishlistItemsContainer = document.querySelector('.wishlist-items-container');
        if (wishlistItemsContainer.children.length === 0) {
          wishlistItemsContainer.innerHTML = '<p>No items in your wishlist.</p>';
        }
      });
</script>
